.centered {
    float: none !important;
    margin: 0 auto !important;
}
#map {
    height:450px;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}